@import '/src/common/modern-reset.css';
@import '/src/common/theme.css';

/* 이거 줌으로써 11팀이 올라갈 수 있게끔 */
body {
  margin-block-end: 1200px;
}

h1 {
  text-align: center;
  color: #333;
  padding: 1rem;
  background: #fff;
  position: sticky;
  /* top: 0;의 논리 속성은 inset-block-start */
  inset-block-start: 0;
  z-index: 1;
}

.container {
  inline-size: clamp(20rem, 50%, 40rem);
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;

  .team {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background: #fff;

    /* 아 ... 스티키는 시작 값을 항상 가져야 하는구나 */
    position: sticky;
    inset-block-start: 80px;
  }

  .team-header {
    display: block;
    padding: 1rem;
    background-color: var(--pastel-dark-blue);
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    z-index: 100;
    position: sticky;
  }

  li {
    padding: 1rem;
    border-block-end: 1px solid var(--pastel-gray);
  }

  li:last-child {
    border-block-end: none;
  }
}
